@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-body text-dark bg-white;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-heading text-dark;
}
